.App {
  text-align: center;
}

.logo {
  margin: 20px;
  max-width: 500px;
}

.omi {
  max-width: 500px;
}

.wirvsvirus {
  margin-top: 140px;
  max-width: 300px;
}


.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}